#box{
display: inline;
}

h3,div{
justify-content: center;
text-align: center;
}

button{
    cursor: pointer;
}

img{
    margin-top: 10px;
    width: 800px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
