#box{
    background-color: bisque;
    height: 300px;
    width: 700px;
    visibility: hidden;

}

body{
    background-color: aqua;
}

#box.show{
    visibility: visible;
}

.cross{
    background-color: bisque;
    border: none;
}

button{
    cursor: pointer;
}
